extends ./layout.pug

block title
  title Articles, Products and Express

block body
  h1 Articles, Products and Express
  ul
    each route in routes
      a(href=`/${route}`)
        li.capitalizeMe #{route}